:root {
  --bg: #fafafa;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #e94057;
  --orange: #f27121;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  width: 5rem;
  height: 5rem;
  padding: 10px 10px;
  margin: 20px 0;
  border-radius: 50%;
  border: 0;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: var(--font);
  font-size: 15px;
  cursor: pointer;

}

.mesa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 40rem;
  margin: 100px;
}

.tarjeta {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 0.3em;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.tarjeta__contenido {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 0.4rem;
}

.tarjeta__contenido::selection {
  background: transparent;
}

.tarjeta.descubierta {
  transform: rotateY(-180deg);
}

@keyframes error {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(1px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  40%,
  60% {
    transform: rotateY(-180deg) translateX(1px);
  }
}

@keyframes acierto {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}

.acertada {
  pointer-events: none;
}

.acertada .tarjeta__contenido {
  animation: acierto 1.3s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

